@import './constants.scss';
@import './mixins.scss';

@import './components/header.scss';
@import './components/footer.scss';
@import './components/layout.scss';
@import './components/page.scss';
@import './components/button.scss';

// Utility classes
// flex-box
.flex {
  display: flex;

  @include bp('tablet') {
    flex-direction: column;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.jb-center {
    justify-content: center;
  }

  &.ai-center {
    align-items: center;
  }

  &.ai-end {
    align-items: flex-end;
  }
}

// color
.white {
  color: white;
}

// layout / sizing
.no-margin {
  margin: 0;
}

.full-width {
  width: 100%;
}