@import './constants.scss';
@import './mixins.scss';

@import './components/header.scss';
@import './components/footer.scss';
@import './components/layout.scss';
@import './components/page.scss';
@import './components/button.scss';
@import './components/hero.scss';
@import './components/languageSearch.scss';

// Utility classes
// flex-box
.flex {
  display: flex;

  @include bp('tablet') {
    flex-direction: column;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-end {
    justify-content: flex-end;
  }

  &.ai-center {
    align-items: center;
  }

  &.ai-end {
    align-items: flex-end;
  }
}

// color
.white,
.light {
  color: $light-color;
}

.primary-color {
  color: $primary-color-600;
}

// layout / sizing
.no-margin {
  margin: 0;
}

.width-100 {
  width: 100%;
}

.full-width {
  width: calc(100% + 2 * #{$gutter-width});
  transform: translateX(-$gutter-width);
}

// UI interactivity



.hover-move {
  @include t-transition;

  &:hover {
    transform: translate(2px, -2px);
  }
}

.spaced-form {
  padding: 20px;
  & > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// other
.unstyled-button {
  display: contents;
  cursor: pointer;
}