body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  overflow-x: hidden;
}

$font: 'Noto Sans', sans-serif;


* {
  box-sizing: border-box;
  font-family: $font;
}

button {
  border: 0;
  font-family: $font;
}

h1, h2, h3, h4, h5, p {
  margin: 0 0 16px 0;
}